.footer {
  & {

  }
  &__body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  &__top, &__bottom {
    background-color: $color-white-1;
  }
  &__center {
    background-color: $color-black-2;
    color: $color-white-1;
  }
  &__top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  &__intro {
    display: flex;
    flex-direction: column;
  }
  &__top-title {

  }
  &__top-desc {
    color: $color-grey;
  }
  &__contact-btn {
    width: 160px;
    height: 58px;
    background-color: $color-orange;
    color: $color-white-1;
    border-radius: 5px;
    font-weight: 700;
  }
  &__center-container {
    padding: 50px 15px;
    display: flex;
    justify-content: space-between;
  }
  &__col {
    display: flex;
    flex-direction: column;
  }
  &__col-title {

  }
  &__links {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
  }
  &__link {
    @include gap-v(10px);
  }
  &__bottom-container {
    padding: 25px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__bottom-desc {
    color: $color-grey;
    font-weight: 600;
    text-align: center;
  }
  &__social-icons {
    display: flex;
    align-items: center;
  }
  &__social-icon {
    @include gap-h(20px);
    font-size: 24px;
    cursor: pointer;

    &.icon-facebook {
      color: $color-blue;
    }
    &.icon-instagram {
      color: $color-red;
    }
    &.icon-twitter {
      color: $color-light-blue-2;
    }
    &.icon-youtube {
      color: $color-red;
    }
  }
  &__icon-link {
    display: flex;
    align-items: center;
  }
  &__col-icon {
    @include center;
    margin: 0 10px 0 0;
    font-size: 24px;
    width: 24px;
    height: 24px;
    color: $color-light-blue-1;
  }
}

@media all and (max-width: $bp-tablet) {
  .footer {
    &__top-container {
      flex-direction: column;
      align-items: flex-start;
      padding: 20px 15px;
    }
    &__contact-btn {
      margin-top: 10px;
      height: 35px;
    }
    &__center-container {
      flex-direction: column;
    }
    &__col {
      @include gap-v(50px);
    }
    &__bottom-container {
      padding: 15px;
      flex-direction: column;
      justify-content: center;
    }
    &__social-icons {
      margin-top: 10px;
    }
  }
}

@media all and (max-width: $bp-mobile) {
  .footer {
    &__top-container {
    }
    &__contact-btn {
      margin-top: 25px;
      width: 100%;
    }
  }
}
