.header {
  & {

  }
  &__body {
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__logo {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.1px;
  }
  &__nav {
    margin: 0 0 0 135px
  }
  &__nav-list {
    display: flex;
  }
  &__nav-link {
    @include gap-h(21px);
    font-weight: 600;
    font-size: 14px;
    letter-spacing: .2px;
    color: $color-grey;
  }
}
