.header {
  & {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  &__body {
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__logo {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.1px;
  }
  &__nav {
    margin: 0 0 0 135px
  }
  &__nav-list {
    display: flex;
  }
  &__nav-link {
    @include gap-h(21px);
    font-weight: 600;
    font-size: 14px;
    letter-spacing: .2px;
    color: $color-grey;
  }
  &__slide-menu-btn {
    display: none;
  }
  &__slide-menu-icon {
    font-size: 24px;
  }
}

@media all and (max-width: $bp-mobile) {
  .header {
    &__logo {
      font-size: 20px;
    }
    &__body {
      height: 40px;
      justify-content: space-between;
    }
    &__nav {
      display: none;
    }
    &__slide-menu-btn {
      display: block;
    }
  }
}
